@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #FFF;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// begin resets
* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  background: #000;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

a {
  font-weight: 600;
}
// end resets

.anchor {
  @apply no-underline;
}

.anchor:hover {
  @apply underline;
}

.button {
  @apply bg-buttonBg text-buttonText py-3 px-6 rounded-[100px];
  transition: all 200ms ease;
  &:hover {
    @apply bg-buttonBgHover;
  }
}

.display {
  @apply text-4xl font-semibold md:text-6xl;
}

.blue-gradient {
  background: linear-gradient(180deg, #00A8F0 0%, #B0EEFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eyebrow {
  @apply text-secondary font-bold tracking-[1.28px] uppercase text-center;
}

h2 {
  @apply text-center text-3xl font-semibold md:text-4xl;
}

h3 {
  @apply text-xl font-semibold md:text-2xl;
}

.gray-gradient {
  background: linear-gradient(97deg, #333 0%, #000 100.08%), #000;
}

::backdrop {
  background: rgba(0,0,0,0.7);
}

dialog {
  background: transparent;
  background-color: transparent;
}

.video-frame {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 900px;
}